[submodule "edk2"]
	path = edk2
	url = https://github.com/ant-man21/edk2.git
	branch = orrery-changes
[submodule "edk2-platforms"]
	path = edk2-platforms
	url = https://github.com/ant-man21/edk2-platforms.git
	branch = orrery
[submodule "edk2-non-osi"]
	path = edk2-non-osi
	url = https://github.com/ant-man21/edk2-non-osi.git
	branch = orrery
[submodule "trusted-firmware-a"]
	path = trusted-firmware-a
	url = https://github.com/ant-man21/arm-trusted-firmware.git
	branch = orrery
